body, p, ul li, ol li, div, td, th {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.solsys {
    max-width:1400px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.solsys H2 { width: 100%; }

.planet { 
    width: 24%;
    margin:0.5%;
    border: 1px dotted gray;
    padding: 0.5em;
}


.planet th {
    text-align: right;
    padding-right: 1em;
    
}

.planet TR {
    vertical-align: top;
}

.planet TD H4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.buttonbar {
    width: 100%;
    padding: 1em;
    background-color: cornsilk;
    display: flex;
    flex-wrap: wrap;        
}

.buttonbar .btn-left { width: 50%;}
.buttonbar .btn-right { width: 50%; text-align: right;}
.btn-right button, .btn-right select { margin-left: 2em;}

div.Marginal {
    background-color: darkkhaki;
    width: 49%;
}

div.Earthlike {
    color:white;
    background-color: blue;
    width: 49%;
}